<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/form.css">
    <title>
        <%= title %>
    </title>

</head>

<body>
    <%- include('./partials/nav.ejs') %>

        <form action="/add-post" method="post">
            <div class="form-info">
                <label for="title">Title
                    <input type="text" name="title" id="title"></label>
                <label for="author">Author
                    <input type="text" name="author" id="author"></label>
            </div>

            <div class="form-text">
                <label for="text">Post Text
                    <textarea name="text" id="text"></textarea></label>
            </div>

            <div class="form-button">
                <input type="submit" value="Submit">
            </div>
        </form>


</body>

</html>