<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/article.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('./partials/nav.ejs') %>

        <article>
            <h1>Contacts:</h1>
            <ul class="contacts">
                <li><a href="">Lorem</a></li>
                <li><a href="">Ipsum</a></li>
            </ul>
        </article>


</body>

</html>