<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/form.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('./partials/nav.ejs') %>

        <form action="/edit-post/<%= post.id%>?_method=PUT" method="post">
            <div class="form-info">
                <label for="title">Title
                    <input type="text" name="title" id="title" value="<%= post.title%>"></label>
                <label for="author">Author
                    <input type="text" name="author" id="author" value="<%= post.author%>"></label>
            </div>

            <div class="form-text">
                <label for="text">Post Text
                    <textarea name="text" id="text"><%= post.text%></textarea></label>
            </div>

            <div class="form-button">
                <input type="submit" value="Edit">
            </div>
        </form>


</body>

</html>