<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>
        <%= title %>
    </title>
</head>

<body class="center">
    <%- include('./partials/nav.ejs') %>

        <h1 class="error">Error 404</h1>
        <p>something went wrong...</p>


</body>

</html>