<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>
        <%= title %>
    </title>
</head>

<body class="center">
    <%- include('./partials/nav.ejs') %>
        <h1>Welcome to the home page</h1>
        <p>
            Application with the ability to add/edit/delete posts.<br>
            Built on Express with mongoBD, ejs, routes.
        </p>
</body>

</html>