<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/article.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('./partials/nav.ejs') %>
        <% if(posts.length){ %>
            <% posts.forEach(post=> { %>
                <article>
                    <h2>
                        <a href="/posts/<%= post.id%>">
                            <%= post.title%>
                        </a>
                    </h2>
                    <p>
                        <%= post.text.slice(0,200)%>
                            <% if(post.text.length> 200){%>
                                ...
                                <% } %>
                    </p>
                    <div class="info-posts">
                        <span>
                            <%= post.createdAt.toLocaleDateString()%>
                        </span>
                        <span>
                            <%= post.author%>
                        </span>
                    </div>
                    <button class="btn-delete" data-id=<%= post.id%>>
                        <i class="fas fa-trash-alt" data-id=<%= post.id%>></i>
                    </button>
                </article>
                <% } ) }%>

                    <script>
                        document.onclick = (e) => {
                            const id = e.target?.dataset?.id;
                            if (id) {
                                fetch(`/posts/${id}`, { method: 'DELETE' })
                                    .then(() => window.location.reload())
                                    .catch(er => console.log('Click error: ',er))
                            }
                        }
                    </script>
</body>

</html>