h1 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #fff;
}

article {
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    border-radius: 10px;
    margin: 5px 0px;
}

.info-post {
    display: flex;
    justify-content: flex-start;
    gap: 20px
}

.info-posts {
    display: flex;
    justify-content: space-between;
}

.btn-edit,
.btn-delete {
    position: absolute;
    top: 15px;
    right: 15px;
    /* text-transform: uppercase; */
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    width: 48px;
    border-radius: 3px;
    font-size: 16px;
    box-sizing: border-box;
}

.btn-edit {
    right: 70px;
}