form {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin: 5px 0px;
}

form div {
    margin-bottom: 20px;
    display: flex;
}

form div label {
    display: flex;
    gap: 5px;
    flex-direction: column;
    flex: 1;
}

.form-info {
    justify-content: space-between;
    gap: 20px;
}

.form-button {
    justify-content: flex-end;
}

.form-button input {
    /* text-transform: uppercase; */
    padding: 10px 15px;
    cursor: pointer;
}

.form-button input:hover {
    background-color: rgba(123, 123, 123, 0.6);
    border-color: rgba(123, 123, 123, 0.6);
}

input,
textarea {
    min-height: 30px;
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 18px;
    padding: 3px 5px;
    outline: none;
}

textarea {
    resize: none;
    min-height: 150px;
}