body {
    box-sizing: border-box;
    padding-top: 60px;
    background: linear-gradient(blue, 10%, pink);
    min-height: 100vh;
    font-size: 20px;
    color: #fff;
}

nav>ul {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.7);

}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    line-height: 40px;
    min-height: 40px;
    color: #fff;
}

body.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contacts li {
    line-height: 1.5em;
}

h1.error {
    font-size: 400%;
}